

* {
    font-family: Arial, Helvetica, sans-serif; 
}

body{
    background-image: linear-gradient(48deg,#3a4f51,#16B5C7);
}
 
main{
    background-color: rgba(255, 255, 255, 0.853);
    border-radius: 10px;
    box-shadow:5px 5px 15px #1087945d;
    width: 600px;
    padding: 10px;
    margin: auto;
 }

 h1{
     color:#084147 ;
     text-align: center;
     text-shadow:  1px 1px 2px #042b2f;
 }
 
 h2{
    color:#364647;
 }
p {
    text-align: justify;
}