@charset "UTF-8";

body{
   background-color: rgb(233, 255, 135); 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}
h1{
    color: blueviolet;
    background-color: rgb(243, 175, 211);
}
h2{
    color: rgb(165, 88, 237);
}
p{
text-align: justify;
}
