@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(53, 17, 152);
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-shadow: 2px 2px 0px rgba(92, 106, 236, 0.529);
    padding: 10px;
}