@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none; /*some para impressão, ficando apenas para visualização do site */
}

article::after{
    content: 'Esse artigo foi impresso através www.google.com';
}

article{
    width: 100%;
}