@charset "UTF-8";

 *{
    margin: 0px;
    padding: 0px;
 }

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: #0669bf94;
}

header > h1{
    text-align: center;
}

menu li{
    display: inline-block;
    background-color: #D5E5F2;
    padding: 10px;
    color: black;
}

menu ul{
    list-style-type: none;
    background-color:#B6CAF2
    ;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}