@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Dancing', cursive;
    --font3:'Caveat', cursive;
}


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
     font-family: var(--font1);
}

header{
    background-color: #40250E;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 5vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: #D9C2AD;
    color: black;
    font-size: 2.5em;
}

section.imagem{
    background-color: #8C6F56;
    color: white;
    font-size: 2.5em;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.716);
   display: inline-block;
   padding: 5px;
   text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(../imagens/pexels-cottonbro-4268517.jpg);
    background-position:  center;
   
}

section#img02{
    background-image: url(../imagens/pexels-nothing-ahead-5009177.jpg);
    background-position: right center;
  
}

footer{
    background-color: #40250E;
    color: white;
    text-align: center;
    padding: 10px;
}